@model EmpresaDeCarga.Models.Entities.Paquete

@{
    ViewData["Title"] = "RegistrarPaquetes";
}

@section Styles{
    <style>
        .registrar {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            margin-top: 10%;
        }
    </style>
}

<div class="row">
    <div class="col-md-6">
        <div class="registrar">
            <h1>Registrar Paquete</h1>
            <hr />
            <form asp-action="RegistrarPaquetes">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Codigo" class="control-label"></label>
                    <input asp-for="Codigo" class="form-control" />
                    <span asp-validation-for="Codigo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PesoLibras" class="control-label"></label>
                    <input asp-for="PesoLibras" class="form-control" />
                    <span asp-validation-for="PesoLibras" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NombreCliente" class="control-label"></label>
                    <select asp-items="ViewBag.ListaClientes" asp-for="NombreCliente" class="form-control"></select>
                    <span asp-validation-for="NombreCliente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EstadoId" class="control-label"></label>
                    <select asp-items="ViewBag.ListaEstados" asp-for="EstadoId" class="form-control"></select>
                    <span asp-validation-for="EstadoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NoGuiaUsa" class="control-label"></label>
                    <input asp-for="NoGuiaUsa" class="form-control" />
                    <span asp-validation-for="NoGuiaUsa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmpresaUsa" class="control-label"></label>
                    <select asp-items="ViewBag.ListaTransportadora" asp-for="EmpresaUsa" class="form-control"></select>
                    <span asp-validation-for="EmpresaUsa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TipoMercancia" class="control-label"></label>
                    <select asp-items="ViewBag.ListaMercancias" asp-for="TipoMercancia" class="form-control"></select>
                    <span asp-validation-for="TipoMercancia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NoGuiaCol" class="control-label"></label>
                    <input asp-for="NoGuiaCol" class="form-control" />
                    <span asp-validation-for="NoGuiaCol" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmpresaCol" class="control-label"></label>
                    <select asp-items="ViewBag.ListaTransportadora" asp-for="EmpresaCol" class="form-control"></select>
                    <span asp-validation-for="EmpresaCol" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValorPago" class="control-label"></label>
                    <input asp-for="ValorPago" class="form-control" />
                    <span asp-validation-for="ValorPago" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Registrar" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-action="IndexPaquetes">Volver</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}