@model EmpresaDeCarga.Models.Entities.Cliente

@{
    ViewData["Title"] = "EditarClientes";
}

@section Styles{
    
}


<div class="row">
    <div class="col-md-4">
        <h1>Editar cliente</h1>
        <hr />
        <form asp-action="EditarClientes">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CasilleroId" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionEntrega" class="control-label"></label>
                <input asp-for="DireccionEntrega" class="form-control" />
                <span asp-validation-for="DireccionEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="IndexClientes">Volver</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}