
<!-- Main Footer -->

<div class="pie">
    <footer class="main-footer accent-white bg-dark">
        <!-- Default to the left -->
        <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">Trabajo por Yeral, Alejo y Santi</a>.</strong>
    </footer>
</div>

